.primarySupply-mixer-2 .mixer,
.primarySupply-splitter-2 .splitter {
  width: 220px;
}

.primarySupply-mixer-2 .inletNode_position_3,
.primarySupply-splitter-2 .outletNode_position_3 {
  left: 190px !important;
}

.primarySupply-mixer-2 .inletNode_position_2,
.primarySupply-splitter-2 .outletNode_position_2 {
  left: 145px !important;
}

.primarySupply-mixer-2 .inletNode_position_1,
.primarySupply-splitter-2 .outletNode_position_1 {
  left: 75px !important;
}

.primarySupply-mixer-2 .inletNode_position_3::before,
.primarySupply-mixer-2 .inletNode_position_2::before,
.primarySupply-splitter-2 .outletNode_position_2::before,
.primarySupply-splitter-2 .outletNode_position_3::before {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  background-color: #140c8d;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  left: -2px;
}

.primarySupply-splitter-2 .outletNode_position_2::before,
.primarySupply-splitter-2 .outletNode_position_3::before {
  top: 0;
}

.condenserDemand-mixer-3 .inletNode_position_0,
.condenserDemand-splitter-3 .outletNode_position_0,
.condenserDemand-mixer-3 .inletNode_position_1,
.condenserDemand-mixer-3 .inletNode_position_2,
.condenserDemand-splitter-3 .outletNode_position_1,
.condenserDemand-splitter-3 .outletNode_position_2,
.condenserSupply-mixer-3 .inletNode_position_0,
.condenserSupply-mixer-3 .inletNode_position_1,
.condenserSupply-splitter-3 .outletNode_position_0,
.condenserSupply-splitter-3 .outletNode_position_1 {
  height: 70px;
}

.condenserDemand-mixer-3 .mixer,
.condenserDemand-splitter-3 .splitter {
  width: 170px;
}

.condenserDemand-mixer-3 .inletNode_position_1,
.condenserDemand-splitter-3 .outletNode_position_1 {
  left: 75px !important;
}

.condenserDemand-mixer-3 .inletNode_position_2,
.condenserDemand-splitter-3 .outletNode_position_2 {
  left: 110px !important;
}

.condenserSupply-splitter-3 .splitter {
  width: 170px !important;
}
/* 
#edge-10 {
  transform: translate(61px, 141px);
} */

.isCoolingCoil::before,
.isCoolingCoil::after {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 35px;
  background-color: #140c8d;
  z-index: 1;
  left: 39px;
}

.isCoolingCoil::before {
  bottom: 45px;
}

.isCoolingCoil::after {
  top: 45px;
}

.lineCss .line-0,
.lineCss .line-1,
.lineCss .line-2,
.lineCss .line-3 {
  display: block;
  position: absolute;
  width: 1px;
  height: 35px;
  background-color: #140c8d;
  z-index: 1;
  left: 39px;
}

.isPlateHeat .line-0 {
  bottom: 44px;
  left: 18px;
}

.isPlateHeat .line-1 {
  bottom: 44px;
  left: 49px;
}

.isPlateHeat .line-2 {
  top: 44px;
  left: 18px;
}

.isPlateHeat .line-3 {
  top: 44px;
  left: 49px;
}

.isPurchasedCooling .line-0 {
  bottom: 44px;
  left: 28px;
}

.isPurchasedCooling .line-1 {
  top: 44px;
  left: 28px;
}

.isLittleChiller .line-0 {
  bottom: 44px;
  left: 18px;
}

.isLittleChiller .line-1 {
  bottom: 44px;
  left: 44px;
}

.isLittleChiller .line-2 {
  top: 44px;
  left: 18px;
}

.isLittleChiller .line-3 {
  top: 44px;
  left: 44px;
}

.isBigChiller .line-0 {
  bottom: 44px;
  left: 13px;
}

.isBigChiller .line-1 {
  bottom: 44px;
  left: 39px;
}

.isBigChiller .line-2 {
  top: 44px;
  left: 13px;
}

.isBigChiller .line-3 {
  top: 44px;
  left: 39px;
}

.isCoolingTower .line-0 {
  bottom: 44px;
  left: 23px;
}

.isCoolingTower .line-1 {
  top: 44px;
  left: 23px;
}
