.primarySupply-mixer-2 .mixer,
.primarySupply-splitter-2 .splitter {
  width: 220px;
}

.primarySupply-mixer-2 .inletNode_position_3,
.primarySupply-splitter-2 .outletNode_position_3 {
  left: 190px !important;
}

.primarySupply-mixer-2 .inletNode_position_2,
.primarySupply-splitter-2 .outletNode_position_2 {
  left: 145px !important;
}

.primarySupply-mixer-2 .inletNode_position_1,
.primarySupply-splitter-2 .outletNode_position_1 {
  left: 75px !important;
}

.primarySupply-mixer-2 .inletNode_position_3::before,
.primarySupply-mixer-2 .inletNode_position_2::before,
.primarySupply-splitter-2 .outletNode_position_2::before,
.primarySupply-splitter-2 .outletNode_position_3::before {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  background-color: pink;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  left: -2px;
}

.primarySupply-splitter-2 .outletNode_position_2::before,
.primarySupply-splitter-2 .outletNode_position_3::before {
  top: 0;
}

.condenserDemand-mixer-3 .inletNode_position_0,
.condenserDemand-splitter-3 .outletNode_position_0,
.condenserDemand-mixer-3 .inletNode_position_1,
.condenserDemand-mixer-3 .inletNode_position_2,
.condenserDemand-splitter-3 .outletNode_position_1,
.condenserDemand-splitter-3 .outletNode_position_2,
.condenserSupply-mixer-3 .inletNode_position_0,
.condenserSupply-mixer-3 .inletNode_position_1,
.condenserSupply-splitter-3 .outletNode_position_0,
.condenserSupply-splitter-3 .outletNode_position_1 {
  height: 70px;
}

.condenserDemand-mixer-3 .mixer,
.condenserDemand-splitter-3 .splitter {
  width: 170px;
}

.condenserDemand-mixer-3 .inletNode_position_1,
.condenserDemand-splitter-3 .outletNode_position_1 {
  left: 75px !important;
}

.condenserDemand-mixer-3 .inletNode_position_2,
.condenserDemand-splitter-3 .outletNode_position_2 {
  left: 110px !important;
}

.condenserSupply-splitter-3 .splitter {
  width: 170px !important;
}
/* 
#edge-10 {
  transform: translate(61px, 141px);
} */

.lineCss .line-0,
.lineCss .line-1,
.lineCss .line-2,
.lineCss .line-3 {
  display: block;
  position: absolute;
  width: 1px;
  height: 20px;
  background-color: #140c8d;
  z-index: 1;
  left: 39px;
}

.isCoolingCoil .line-0 {
  bottom: 45px;
}

.isCoolingCoil .line-1 {
  top: 45px;
}

.isCoolingCoil .line-0::before,
.isCoolingCoil .line-1:before {
  content: "";
  width: 5px;
  height: 5px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: -2px;
}

.isCoolingCoil .line-1:before {
  top: auto;
  bottom: 0;
}

.isPlateHeat .line-0 {
  bottom: 44px;
  left: 18px;
}

.isPlateHeat .line-1 {
  bottom: 44px;
  left: 49px;
}

.isPlateHeat .line-0::before,
.isPlateHeat .line-1:before,
.isPlateHeat .line-2::before,
.isPlateHeat .line-3::before {
  content: "";
  width: 5px;
  height: 5px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: -2px;
}

.isPlateHeat .line-2::before,
.isPlateHeat .line-3::before {
  bottom: 0;
  top: auto;
}

.isPlateHeat .line-2 {
  top: 44px;
  left: 18px;
}

.isPlateHeat .line-3 {
  top: 44px;
  left: 49px;
}

.isPurchasedCooling .line-0 {
  bottom: 44px;
  left: 28px;
}

.isPurchasedCooling .line-1 {
  top: 44px;
  left: 28px;
}

.isPurchasedCooling .line-0::before,
.isPurchasedCooling .line-1:before {
  content: "";
  width: 5px;
  height: 5px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: -2px;
}

.isPurchasedCooling .line-1:before {
  top: auto;
  bottom: 0;
}

.isLittleChiller .line-0 {
  bottom: 44px;
  left: 18px;
}

.isLittleChiller .line-1 {
  bottom: 44px;
  left: 44px;
}

.isLittleChiller .line-2 {
  top: 44px;
  left: 18px;
}

.isLittleChiller .line-3 {
  top: 44px;
  left: 44px;
}

.isLittleChiller .line-0::before,
.isLittleChiller .line-1:before,
.isLittleChiller .line-2::before,
.isLittleChiller .line-3::before {
  content: "";
  width: 5px;
  height: 5px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: -2px;
}

.isLittleChiller .line-2::before,
.isLittleChiller .line-3::before {
  bottom: 0;
  top: auto;
}

.isBigChiller .line-0 {
  bottom: 44px;
  left: 13px;
}

.isBigChiller .line-1 {
  bottom: 44px;
  left: 39px;
}

.isBigChiller .line-2 {
  top: 44px;
  left: 13px;
}

.isBigChiller .line-3 {
  top: 44px;
  left: 39px;
}

.isBigChiller .line-0::before,
.isBigChiller .line-1:before,
.isBigChiller .line-2::before,
.isBigChiller .line-3::before {
  content: "";
  width: 5px;
  height: 5px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: -2px;
}

.isBigChiller .line-2::before,
.isBigChiller .line-3::before {
  bottom: 0;
  top: auto;
}

.isCoolingTower .line-0 {
  bottom: 44px;
  left: 23px;
}

.isCoolingTower .line-1 {
  top: 44px;
  left: 23px;
}

.isCoolingTower .line-0::before,
.isCoolingTower .line-1:before {
  content: "";
  width: 5px;
  height: 5px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: -2px;
}

.isCoolingTower .line-1::before {
  bottom: 0;
  top: auto;
}


[data-handleid="Cooling Coil Water Outlet Node"] {
  top: -19px !important;
  left: 37px;
  border-radius: 100% !important;
  opacity: 0;
}

[data-handleid="Cooling Coil Water Inlet Node"] {
  top: 70px !important;
  left: 37px !important;
  border-radius: 100% !important;
  opacity: 0;
}

.secondaryDemand-byPass-1 [data-handleid="CW Sec Demand Bypass Pipe Outlet Node"] {
  right: 14px !important;
  top: 8.5px !important;
  border-radius: 100% !important;
}

.secondaryDemand-byPass-1 [data-handleid="CW Sec Demand Bypass Pipe Inlet Node"] {
  left: 14px !important;
  top: 8.5px !important;
  border-radius: 100% !important;
}

.secondaryDemand-mixer-1 [data-handleid="inlet_node2"] {
  left: 37px !important;
  top: 54.5px !important;
  border-radius: 100% !important;
  opacity: 0;
}

.secondaryDemand-mixer-1 [data-handleid="inlet_node1"] {
  top: 56px !important;
  left: -2.5px !important;
  border-radius: 100% !important;
}

.secondaryDemand-splitter-1 [data-handleid="outlet_node1"] {
  top: -38px !important;
  left: -2.5px !important;
  border-radius: 100% !important;
  opacity: 0;
}

.secondaryDemand-splitter-1 [data-handleid="outlet_node2"] {
  left: 37px !important;
  top: -39.5px !important;
  border-radius: 100% !important;
  opacity: 0;
}

.secondaryDemand-splitter-1 [data-handleid="inlet_node"] {
  left: 95px !important;
  top: 9px !important;
  border-radius: 100% !important;
  z-index: 10;
}

.secondaryDemand-mixer-1 [data-handleid="outlet_node"] {
  right: 46px !important;
  top: 8px !important;
  border-radius: 100% !important;
}

.secondaryDemand-isPipeOutlet-1 [data-handleid="CW Sec Demand Exit Pipe Inlet Node"] {
  left: 0px !important;
  top: 8px !important;
  border-radius: 100% !important;
  opacity: 0;
}

.secondaryDemand-isPipeInlet-1 [data-handleid="CW Sec Demand Entrance Pipe Outlet Node"] {
  top: 9px !important;
  border-radius: 100% !important;
  opacity: 0;
}

.primarySupply-mixer-2, .primarySupply-splitter-2, .condenserSupply-splitter-3, .condenserSupply-mixer-3 {
  transform: scale(-1, -1);
}

.secondarySupply-splitter-1 {
  transform: scale(-1, -1);
}

.secondarySupply-mixer-1 {
  transform: scale(-1, -1);
}

.secondarySupply-mixer-1 [data-handleid="outlet_node"] {
  top: 9px !important;
  border-radius: 100% !important;
  right: 45px !important;
}

.secondarySupply-isPipeOutlet-1 [data-handleid="CW Sec Supply Exit Pipe Inlet Node"] {
  top: 9px !important;
  border-radius: 100% !important;
  left: 70px !important;
  opacity: 0;
}

.secondarySupply-mixer-1 [data-handleid="inlet_node2"] {
  top: 55px !important;
  border-radius: 100% !important;
  left: 38px !important;
  opacity: 0;
}

.secondarySupply-byPass-1 [data-handleid="CW Sec Supply Bypass Outlet Node"] {
  top: 8.5px !important;
  border-radius: 100% !important;
  left: 17px !important;
}

.secondarySupply-byPass-1 [data-handleid="CW Sec Supply Bypass Inlet Node"] {
  top: 8.5px !important;
  left: 132px  !important;
  border-radius: 100% !important;
}

.secondarySupply-splitter-1 [data-handleid="outlet_node2"] {
  right: 106px !important;
  top: -38.5px !important;
  border-radius: 100% !important;
  opacity: 0;
}

.secondarySupply-splitter-1 [data-handleid="outlet_node1"] {
  right: 147px !important;
  top: -38px !important;
  border-radius: 100% !important;
}

.secondarySupply-mixer-1 [data-handleid="inlet_node1"] {
  left: -2px !important;
  top: 55px !important;
  border-radius: 100% !important;
}

[data-handleid="PHE Supply Inlet Node"] {
  left: 15.5px !important;
  top: -17.5px !important;
  border-radius: 100% !important;
  opacity: 0;
}

[data-handleid="PHE Supply Outlet Node"] {
  right: 42.5px !important;
  top: 69.5px !important;
  border-radius: 100% !important;
  opacity: 0;
}

[data-handleid="PHE Demand Outlet Node"] {
  right: 11px !important;
  top: -17px !important;
  border-radius: 100% !important;
  opacity: 0;
}

[data-handleid="PHE Demand Inlet Node"] {
  left: 47px !important;
  top: 69px !important;
  border-radius: 100% !important;
  opacity: 0;
}

.secondarySupply-splitter-1 [data-handleid="inlet_node"] {
  left: 96px !important;
  top: 9px !important;
  border-radius: 100% !important;
  z-index: 2;
}

.secondarySupply-isPump-1 [data-handleid="CW Sec Circ Pump Outlet Node"] {
  right: 65px !important;
  top: 36px !important;
  border-radius: 100% !important;
  opacity: 0;
}

.primaryDemand-mixer-2 [data-handleid="inlet_node1"] {
  left: -2px !important;
  top: 55px !important;
  border-radius: 100% !important;
  opacity: 0;
}

.primaryDemand-mixer-2 [data-handleid="inlet_node2"] {
  left: 37px !important;
  top: 54.5px !important;
  border-radius: 100% !important;
  opacity: 0;
}

.primaryDemand-byPass-2 [data-handleid="CW Primary Demand Bypass Outlet Node"] {
  right: 14px !important;
  top: 9px !important;
  border-radius: 100% !important;
}

.primaryDemand-byPass-2 [data-handleid="CW Primary Demand Bypass Inlet Node"] {
  left: 15px !important;
  top: 8px !important;
  border-radius: 100% !important;
}

.primaryDemand-splitter-2 [data-handleid="outlet_node1"] {
  right: 107px !important;
  top: -39px !important;
  border-radius: 100% !important;
  opacity: 0;
}

.primaryDemand-splitter-2 [data-handleid="outlet_node2"] {
  right: 146px !important;
  top: -39.5px !important;
  border-radius: 100% !important;
  opacity: 0;
}

.primaryDemand-isPipeOutlet-2 [data-handleid="CW Primary Demand Exit Pipe Inlet Node"] {
  left: -1px !important;
  top: 9px !important;
  border-radius: 100% !important;
  opacity: 0;
}

.primaryDemand-mixer-2 [data-handleid="outlet_node"] {
  right: 47px !important;
  top: 9px !important;
  border-radius: 100% !important;
  opacity: 0;
}

.primaryDemand-splitter-2 [data-handleid="inlet_node"] {
  left: 96px !important;
  top: 9px !important;
  border-radius: 100% !important;
  z-index: 1;
} 

.primaryDemand-isPipeInlet-2 [data-handleid="CW Primary Demand Entrance Pipe Outlet Node"] {
  right: 69px !important;
  top: 8px !important;
  border-radius: 100% !important;
  opacity: 0;
} 

.primarySupply-mixer-2 [data-handleid="outlet_node"] {
  right: -73px !important;
  top: 9px !important;
  border-radius: 100% !important;
} 

.primarySupply-isPipeOutlet-2 [data-handleid="CW Primary Supply Side Exit Pipe Inlet Node"] {
  left: 70px !important;
  top: 9px !important;
  border-radius: 100% !important;
} 

.primarySupply-isByPassSupply-2 [data-handleid="CW Primary Supply Bypass Inlet Node"] {
  left: 129px !important;
  top: 8px !important;
  border-radius: 100% !important;
} 

.primarySupply-isByPassSupply-2 [data-handleid="CW Primary Supply Bypass Outlet Node"] {
  right: 129px !important;
  top: 8px !important;
  border-radius: 100% !important;
} 

.primarySupply-splitter-2 [data-handleid="outlet_node4"] {
  right: -43px !important;
  top: -38.25px !important;
  border-radius: 100% !important;
  opacity: 0;
} 

.primarySupply-mixer-2 [data-handleid="inlet_node4"] {
  left: 188px !important;
  top: 55.75px !important;
  border-radius: 100% !important;
  opacity: 0;
} 

.primarySupply-splitter-2 [data-handleid="outlet_node3"] {
  right: 2px !important;
  top: -38.5px !important;
  border-radius: 100% !important;
  opacity: 0;
} 

[data-handleid="Purchased Cooling Inlet Node"] {
  left: 26px !important;
  top: -18px !important;
  border-radius: 100% !important;
  opacity: 0;
} 

[data-handleid="Purchased Cooling Outlet Node"] {
  right: 31px !important;
  top: 70px !important;
  border-radius: 100% !important;
  opacity: 0;
} 

.primarySupply-mixer-2 [data-handleid="inlet_node3"] {
  left: 142px !important;
  top: 55.5px !important;
  border-radius: 100% !important;
  opacity: 0;
}

/* [data-handleid="Little Chiller Inlet Node"] {
  right: 31px !important;
  top: 70px !important;
  border-radius: 100% !important;
  opacity: 0;
}  */

[data-handleid="Big Chiller Inlet Node"] {
  left: 11px !important;
  top: -17px !important;
  border-radius: 100% !important;
  opacity: 0;
}

[data-handleid="Big Chiller Outlet Node"] {
  right: 39px !important;
  top: 69px !important;
  border-radius: 100% !important;
  opacity: 0;
}

.primarySupply-splitter-2 [data-handleid="outlet_node2"] {
  right: 147px !important;
  top: -38.75px !important;
  border-radius: 100% !important;
  opacity: 0;
}

.primarySupply-mixer-2 [data-handleid="inlet_node2"] {
  left: -2px !important;
  top: 56.25px !important;
  border-radius: 100% !important;
  opacity: 0;
}

.primarySupply-mixer-2  [data-handleid="inlet_node1"] {
  left: 72px !important;
  top: 55px !important;
  border-radius: 100% !important;
  opacity: 0;
}

[data-handleid="Little Chiller Outlet Node"] {
  right: 42px !important;
  top: 69px !important;
  border-radius: 100% !important;
  opacity: 0;
}

[data-handleid="Little Chiller Inlet Node"] {
  left: 15px !important;
  top: -18px !important;
  border-radius: 100% !important;
  opacity: 0;
}

[data-handleid="CW Primary Pump Outlet Node"] {
  right: 65px !important;
  top: 36px !important;
  border-radius: 100% !important;
  opacity: 0;
}

[data-handleid="Little Chiller Condenser Outlet Node"] {
  right: 15px !important;
  top: -17.5px !important;
  border-radius: 100% !important;
  opacity: 0;
}

.primarySupply-splitter-2 [data-handleid="outlet_node1"] {
  right: 72px !important;
  top: -38px !important;
  border-radius: 100% !important;
  opacity: 0;
}

.primarySupply-splitter-2 [data-handleid="inlet_node"] {
  left: 217px !important;
  top: 8px !important;
  border-radius: 100% !important;
  opacity: 0;
}

.condenserDemand-mixer-3 [data-handleid="inlet_node2"] {
  left: -2px !important;
  top: 75px !important;
  border-radius: 100% !important;
  opacity: 0;
}

[data-handleid="Big Chiller Condenser Outlet Node"] {
  right: 12px !important;
  top: -18.5px !important;
  border-radius: 100% !important;
  opacity: 0;
}

[data-handleid="Big Chiller Condenser Inlet Node"] {
  left: 36px !important;
  top: 69.5px !important;
  border-radius: 100% !important;
  opacity: 0;
}

.condenserDemand-mixer-3 [data-handleid="inlet_node1"] {
  left: 73px !important;
  top: 75px !important;
  border-radius: 100% !important;
  opacity: 0;
}

.condenserDemand-splitter-3 [data-handleid="outlet_node1"] {
  right: 71px !important;
  top: -59px !important;
  border-radius: 100% !important;
  opacity: 0;
}

.condenserDemand-mixer-3 [data-handleid="inlet_node3"] {
  left: 107px !important;
  top: 76px !important;
  border-radius: 100% !important;
  opacity: 0;
}

.condenserDemand-bypass-3 [data-handleid="Cond Demand Bypass Outlet Node"] {
  right: 17px !important;
  top: 8px !important;
  border-radius: 100% !important;
  opacity: 0;
}

.condenserDemand-bypass-3 [data-handleid="Cond Demand Bypass Inlet Node"] {
  left: 16px !important;
  top: 9px !important;
  border-radius: 100% !important;
  opacity: 0;
}

.condenserDemand-splitter-3 [data-handleid="outlet_node3"] {
  right: 36px !important;
  top: -59px !important;
  border-radius: 100% !important;
  opacity: 0;
}

[data-handleid="Little Chiller Condenser Inlet Node"] {
  left: 42px !important;
  top: 69.5px !important;
  border-radius: 100% !important;
  opacity: 0
}

.condenserDemand-splitter-3 [data-handleid="outlet_node2"] {
  right: 146px !important;
  top: -59px !important;
  border-radius: 100% !important;
  opacity: 0;
}

.condenserDemand-mixer-3 [data-handleid="outlet_node"] {
  right: -23px !important;
  top: 9px !important;
  border-radius: 100% !important;
}

[data-handleid="Condenser Demand Exit Pipe Inlet Node"] {
  left: 0 !important;
  top: 9px !important;
  border-radius: 100% !important;
  opacity: 0
}

[data-handleid="Condenser Supply Exit Pipe Inlet Node"] {
  left: 70px !important;
  top: 8px !important;
  border-radius: 100% !important;
  opacity: 0
}

.condenserDemand-isPipeInlet-3 [data-handleid="Condenser Demand Entrance Pipe Outlet Node"] {
  right: 69px !important;
  top: 9px !important;
  border-radius: 100% !important;
  opacity: 0
}

.condenserDemand-splitter-3 [data-handleid="inlet_node"] {
  left: 169px !important;
  top: 9px !important;
  border-radius: 100% !important;
}

.condenserSupply-mixer-3 [data-handleid="outlet_node"] {
  right: 46px !important;
  top: 9px !important;
  border-radius: 100% !important;
}

.condenserSupply-splitter-3 [data-handleid="inlet_node"] {
  left: 168px !important;
  top: 9px !important;
  border-radius: 100% !important;
}

[data-handleid="Condenser Pump Outlet Node"] {
  right: 65px !important;
  top: 36px !important;
  border-radius: 100% !important;
  opacity: 0
}

.condenserSupply-mixer-3 [data-handleid="inlet_node2"] {
  left: 37px !important;
  top: 74.5px !important;
  border-radius: 100% !important;
}

[data-handleid="Cond Supply Bypass Outlet Node"] {
  right: 127px !important;
  top: 9px !important;
  border-radius: 100% !important;
}

[data-handleid="Cond Supply Bypass Inlet Node"] {
  left: 127px !important;
  top: 9px !important;
  border-radius: 100% !important;
}

.condenserSupply-splitter-3 [data-handleid="outlet_node2"] {
  right: 106px !important;
  top: -58px !important;
  border-radius: 100% !important;
  opacity: 0;
}

.condenserSupply-splitter-3 [data-handleid="outlet_node1"] {
  right: 146px !important;
  top: -59px !important;
  border-radius: 100% !important;
  opacity: 0;
}

[data-handleid="Condenser Tower Inlet Node"] {
  left: 20px !important;
  top: -18px !important;
  border-radius: 100% !important;
  opacity: 0;
}

[data-handleid="Condenser Tower Outlet Node"] {
  right: 36px !important;
  top: 70px !important;
  border-radius: 100% !important;
  opacity: 0;
}

.condenserSupply-mixer-3 [data-handleid="inlet_node1"] {
  left: -2px !important;
  top: 75px !important;
  border-radius: 100% !important;
  opacity: 0;
}